*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #fcfc;
}
.upper{
    /* background-image: url(/diana-polekhina-F68HtpYHu_w-unsplash.jpg); */
    background-color: #191919;
    background-position: center;
    background-size:cover;
    color: white;
    width: 500px;
    margin: 30px auto;
    text-align: center;
}
section{
    width: 500px;
    margin: 30px auto;
    background-color: #858585;
}
.upper h1{
    padding: 50px;
}
.div-1{
     position: relative;
    min-height: 1px;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    /* float: left; */
}
.form-group {
    margin-bottom: 14px;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.user-in{
    /* margin-bottom: 25px; */
  box-shadow: none !important;
  border: 1px solid green;
    height: 44px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
/*     color: #555; */
    background-color: #fff;
    border-radius: 4px;
}
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
.submit{
  border: 1px solid #fcfc !important;
  background-color: #fcfc;
  color: #555555;
  transition: all 0.3s;
  padding: 9px 28px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  border-radius: 4px;
  width: 100%;
  
}
.submit:hover{
  background-color: rgba(255, 139, 255, 0.8);
}
.center{
padding: 28px 2.5rem 30px;
/* height: 44px; */

}
span{
    color: red;
}
.AHAA{
    text-align: center;
    padding-bottom: 10px;
}
.other{
  padding:  28px 2.5rem 0;
}
