*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
section{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img img{
    width: 300px;
    display: block;
    margin: 0 auto;
}
h2{
    text-align: center;
    padding-right: 10px;
    background: -webkit-linear-gradient(right,  #ff8c05,#d61a5e); 
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    cursor: pointer;
}
.div{
    display: flex;
    align-items: center;
}
.div img{
    width: 50px;
}